@import "children-of-ie";

body > div {
  width: 50%;
  float: left;
}

.nth {
  li:nth-child(n+5) {
    color: red;
    background-color: #ffc;
  }
}

.nth-ie {
  li#{nth-child(n+5)} {
    color: red;
    background-color: #ffc;
  }
}