@import "compass";
@import "children-of-ie";

body > div {
  width: 50%;
  float: left;
}

@mixin highlight {
  color: red;
  background-color: #ffc;
}

// normal nth-child
.nth {
  :nth-child(3), :nth-child(n+6) {
    @include highlight;
  }
}

// works in IE7 and 8
.nth-ie {
  #{nth-child(3)}, #{nth-child(n+6)} {
    @include highlight;
  }
}